name: Quality checks
on:
  push:
    branches: [ master, next ]
  pull_request:
    branches: [ master, next ]
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version: lts/gallium
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm format:ci
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version: lts/gallium
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm lint:ci
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm typecheck
    strategy:
        matrix:
          version:
            - lts/fermium
            - lts/gallium
            - 18
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm test:ci
    strategy:
        matrix:
          version:
            - lts/fermium
            - lts/gallium
            - 18